@font-face {
  font-family: "iconfont"; /* Project id 3928033 */
  src: url('iconfont.woff2?t=1677851861402') format('woff2'),
       url('iconfont.woff?t=1677851861402') format('woff'),
       url('iconfont.ttf?t=1677851861402') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yejianmoshi:before {
  content: "\e611";
}

.icon-shezhi1:before {
  content: "\e646";
}

.icon-gengduo:before {
  content: "\e608";
}

.icon-tuichu:before {
  content: "\e669";
}

.icon-tupian:before {
  content: "\e66b";
}

.icon-bianji:before {
  content: "\e677";
}

.icon-shezhi:before {
  content: "\e609";
}

.icon-yejianqing:before {
  content: "\e664";
}

.icon-zhibo:before {
  content: "\e6b7";
}

.icon-fanhui2:before {
  content: "\e603";
}

.icon-guanbi:before {
  content: "\e65a";
}

.icon-qipao:before {
  content: "\e600";
}

.icon-fanhui:before {
  content: "\e601";
}

.icon-mifeng:before {
  content: "\e639";
}

.icon-bitemifeng-guanwang-suanli:before {
  content: "\e6de";
}

.icon-tianjiahaoyou:before {
  content: "\e629";
}

.icon-xiaomifeng:before {
  content: "\e765";
}

.icon-24gl-bubbleDots:before {
  content: "\e93e";
}

.icon-bee:before {
  content: "\e659";
}

.icon-qunfeng:before {
  content: "\e65b";
}

.icon-vitamin:before {
  content: "\e604";
}

.icon-fengchao:before {
  content: "\e607";
}

.icon-fengchaologo:before {
  content: "\e602";
}

